FLASK_ENV=production
FLASK_DEBUG=0
JWT_SECRET=escreva-uma-senha-aleatoria-sem-espaco-aqui
SUPABASE_URL=cole-a-sua-url-aqui
SUPABASE_KEY=cole-sua-senha-api-aqui
FRONTEND_URL=https://dizimos.vercel.app
